@media only screen and (min-width: 1025px) {

html {

}

body {
background-color: #ffff;
}

/*Background*/
.background1, .background2 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.background1 {
  background-image: url("../assets/background1.jpg");
  min-height: 100vh;
}

.background2 {
  background-image: url("../assets/background3.jpg");
  min-height: 150vh;
}

.parallaxEl {
  position: absolute;
  top: 50%;
  width: 100%;
}

.header-wrap {

}

.menu-icon {
  font-size: 5vw;
}

.main-nav ul li{
  /* border: 2px solid blue; */
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-size: 4vw;
  padding: 0;
}

.h1-logo {
  width: 50%;
}

#about {
  padding: 1vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.img-wrap-1 {
  /* border: 5px solid blue; */
  width: 60%;
  margin-left: auto;
  margin-right: auto;

  font-size: 0.5vw;
  background: #FFFFFF;
}

.myPicture {
  /* border: 2px solid black; */
  width: 25%;
}

.myPicture-info {
  /* border: 2px solid red; */
}

.myPicture-info-p {
  /* border: 2px solid red; */
  text-align: justify;
  font-size: 1.2vw;
  padding: 1vw;
  margin: 0;
}

.skillSet-list {
  margin-left: auto;
  margin-right: auto;
  /* border: 2px solid green; */
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.skill {
  border: none;
  font-size: 2vw;
  background: white;
  margin: 1vw;
}

.services {
  /* border: 2px solid blue; */
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
}

.about-h2 {
}

.service-wrap {
  width: 45%;
  margin: 1vw;
  padding: 1vw;
  font-size: 1.2vw;
}

.contact-a {
  font-size: 4vw;
}

.contact-wrap {
  border: 4px solid transparent;
}

.contact-wrap:hover{
  border: 4px solid white;
  background-color: rgba(255, 255, 255, 0.4);
}

#portfolio {
  /* border: 5px solid blue; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

}

.project-wrap {
  width: 25%;
  font-size: 2vw;
  padding: 1vw;
  margin: 1vw;
  background-color: #FFFFFF;
}

.project-wrap h2 {
  font-size: 2vw;
}

.video-1 {
  width: 100%;
  height: 25vh;
}

}
