  html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
  }

  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }

  #home, #about, #contact, #portfolio {
    min-height: 100vh;
  }

  /*Background*/
  .background1 {
    position: relative;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }


  .parallaxEl {
    /* position: absolute;
    top: 50%;
    width: 100vw; */
  }

  .background1 {
    background-image: url("../assets/background1.jpg");
    background-size: cover;
    min-height: 100vh;
  }

  .background2 {
    background-image: url("../assets/background3.jpg");
    background-size: cover;
    width: 100vw;
  }

  body {
    width: 100vw;
    background-color: rgb(240, 240, 240);
    margin: 0;
    padding: 0;
  }


  header {
    padding: 0;
    margin: 0;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    /* border: 2px solid red; */
  }

  .header-wrap {
    /* border: 2px solid orange; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: black;
    width: 100vw;
    height: 10vh;
    margin: 0;
    padding: 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

  }

  .logo {
    max-width: 35vw;
    max-height: 8vh;
  }

  /* get menu to right side */
  .sidebar {
    margin-left: auto;
  }


  /* MENU */
  .menu-icon {
    /* border: 2px solid white; */
    color: white;
    font-size: 10vw;
    padding: 0;
    padding-right: 2vw;
    margin: 0;
  }

  .main-nav {
    -webkit-transition: right 0.5s ease;
    transition: right 0.5s ease;
    border: 2px solid violet;
    height: 90vh;
    right: -100vw;
    position: fixed;
    top: 0;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    margin-top: 10vh;
  }

  .main-nav.expanded {
    right: 0;
  }

  .main-nav ul {
    background-color: rgba(0, 0, 0, 0.8);
    list-style: none;
    position: absolute;
    /* border: 2px solid blue; */
    width: 100vw;
    height: 90vh;
    margin: 0;
    padding: 0;
  }

  .main-nav ul a {
    text-decoration: none;
    color: white;

  }

  .main-nav ul li {
    /* border: 2px solid blue; */
    width: 100vw;
    padding: 5vw;
    font-size: 5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .main-nav ul li:hover {
    background-color: rgba(255,255,255,0.4);
  }

  /* Content */
  .main-1-home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  h1 {
    margin-top: 10vh;
    color: white;
  }

  .h1-logo {
    width: 90vw;
  }
  .main-2-about {
    /* background-image: url("../assets/background2.jpg");
    background-size: cover;
    border: 2px solid white;
    padding: 2vw;
    padding-top: 5vw; */
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  .img-wrap-1 {
    background-color: rgb(227, 227, 227);
    font-size: 4vw;
    margin: 6vw;
    padding: 1vw;
    color: black;
    text-align: center;
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .myPicture {
    border-radius: 100%;
    width: 50%;
    height: auto;
    padding: 1vw;
  }

  .skillSet-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .myPicture-info-p {
    /* border: 2px solid red; */
    font-size: 4vw;
    margin: 5vw 2vw;
  }

  .skill {
    font-size: 5vw;
    min-width: 40%;
    text-align: center;
    color: black;
    margin: 3vw;
    padding: 2vw;
    background-color: rgb(227, 227, 227);
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .skill-img {
    width: 100px;
    height: 100px;
  }

  .main-3-wrap {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .contact {
  }

  .contact-wrap {
    width: 100vw;
    background-color: rgba(116, 116, 116, 0.7);
    padding: 2.5vw;
    text-align: center;
  }

  .contact-a {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    text-decoration: none;
    color: white;
    font-size: 10vw;
  }

  #portfolio {
    /* border: 5px solid red; */
    padding-bottom: 50vh;
  }

  .main-4-portfolio {
    padding-top: 10vh;
    background-color: #ffffff;
  }

  .project-wrap {
    font-size: 4vw;
    margin: 5vw;
    padding: 2vw;
    background-color: rgb(227, 227, 227);
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    text-align: center;
    background-color: #ffffff;
  }

  .project-wrap h2 {
    padding-bottom: 0.5vh;
    border-bottom: 1px solid rgb(182, 182, 182);
  }

  .video-1 {
    padding: 1vw;
    height: 30vh;;
  }

  .project-link-1 {
    text-decoration: none;
  }

  .project-link-1:visited {
    color: blue;
  }
