html {
  margin: 0;
  padding: 0;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

body {
  border: 6px solid red;
}

  .inDev {
    text-align: center;
    border: 2px solid green;
    margin-top: 50%;
    margin-bottom: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
  }

.nav-img {
  /* display: none; */
  width: 50%;
}

.team-member-image {
  /* display: none; */
  width: 50%;
}
